.product{
    padding-top: 30px;
}
.product-cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 20px;

}
.product-card{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    padding-bottom: 30px;

}
.product-card:hover{
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
}
@keyframes shake {
    0%,100% {
        transform: translateX(0);
    }
    10%, 30%, 50%, 70%, 90% {
        transform: translateX(-10px);
    }
    20%, 40%, 60%, 80% {
        transform: translateX(10px);
    }
}


.product-card img{
    border-radius: 20px;
}
.btn-filter{
    display: flex;
    flex-direction: row;
    gap: 10px;
    color: black;
    padding-top: 20px;
}
.btn-filter button{
    background-color: #5E4FDB;
    border: 2px solid black;
    border-radius: 20px;
    padding: 10px 40px;

}
.btn-filter button:hover{
    background-color: black;
    color: white;
    transform: scale(1.1, 1.1);
    animation: shake 2s ease infinite;

}
.card-title{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.product-company{
    background-color: rgb(123, 183, 236);
    padding: 10px 20px;
    width: 80px;
    border: none;
    border-radius: 20px;
    margin-left: 10px;
    transform: translateY(50px);
    position: relative;
    margin-top: 5px;
    text-decoration: none;
    transition: color 0.3s ease;
}
.product-company:hover {
    transform: translateY(50px);
    color: red;

}
.product-company::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: green;
    transform: scaleX(0);
    transform-origin: right;
    
}
.product-details{
    display: flex;
}
