.feed{
    padding: 0 0.5rem;
    margin-top: 30px;
}
.top-card{
    height: 500px;
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    justify-content: space-between;
    padding-bottom: 30px;
}
.big-card{
    width: 49%;
    border-radius: 20px;
    background-image: url(C:\Users\Zeke\Documents\pratice\src\12.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.right-card{
    width: 49%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.right-top-card{
    height: 70%;
    width: 100%;    
    border-radius: 20px;
    background-image: url(C:\Users\Zeke\Documents\pratice\src\1_90eeceb5-2817-444a-92e0-830ee6e4b19f_1024x1024.jpg);

    
}
.right-down-card{
    height: 28%;
    display: flex;
    border-radius: 20px;
    justify-content: space-between;

}
.left-down-card{
    height: 100%;
    width: 49%;
    border-radius: 20px;
    background-image: url(C:\Users\Zeke\Documents\pratice\src\111127454_NjIwLTU4My1lZmE3OGVmZTVi.webp);
    background-repeat: no-repeat;
    background-size: cover;

}
.right-down-down-card{
    height: 100%;
    width: 48%;
    border-radius: 20px;
    background-image: url(C:\Users\Zeke\Documents\pratice\src\12.jpg);

}
